.see.fixed_center
  
.section#section_portion1
  .photo.photo1.wh_cover
  .container-fluid
    .row
      .col-md-6.col-sm-12.left
        h2 有色眼鏡–臺北城市色票
        h3 Taipei Colorchips
      .col-md-6.col-sm-12.right
        h5 2019  /  大四畢業專題<br>負責部分  :  紙本色票排版設計 / 網頁UI/UX設計 / 前端程式碼架設  
        
.section#section_portion2
  .photo.photo2.wh_cover
  
.section#section_portion3
  .container
    .row.word
      .col-md-5.col-sm-12.left
        h1 Taipei Colorchips
        h4 一本專屬台北的環境色票本
      .col-md-7.col-sm-12.right
        h5 /<br>色彩，是造就一座城市獨一無二的重要元素，<br>也是人類感受美最直接的媒介．<br>我們透過系統化的搜集，將觀察結果紀錄成一本專屬於台北市的環境色票．<br>並藉由互動式網頁這個數為媒介，<br>將數位化的搜集成果，<br>打破地域上的限制，以更多元活潑的方式<br><br>讓更多人<br>看見臺北這座城市的顏色
    .container
      .blocks
        .block.a
        .block.b
        .block.c
        .block.d
        .block.e
        .block.f
    
.section#section_portion4
  .photo.photo3_cover(data-200-bottom-top="opacity: 0 " data-center-top="opacity: 1 "  data--120-bottom="opacity: 1" data--200-bottom="opacity: 0" )
  .photo.photo3
  a.web_btn(href="http://www.colorseeking.com/sindy0830/colorseeking/index.html" target="_blank") Drop By The Website
  
.section#section_portion5
  .container
    .blocks
      .block.a
      .block.b
      .block.c
      .block.d
      .block.e
      
.footer(data-180-end="transform: translateY(0px) " data-end="transform: translateY(100px)")
  .container-fluid
    .next.left
        h1 Previous Work
        .arrow_btn 
    .middle
      .socialmedia_bottom
        a.i.fa.fa-facebook-square(href="https://www.facebook.com/seekingcolors/" target="_blank")
        a.i.fa.fa-instagram(href="https://www.instagram.com/_10135444_/" target="_blank")
        //- a.i.fa.fa-youtube-play(href="https://www.youtube.com/watch?v=E0o-EPWl9DE" target="_blank")
      a.Email(href="mailto:Lynnwu830@gmail.com") Lynnwu830@gmail.com
      h4 Wu, Jia-Ling   2020.  Portfolio
      hr
    .next.right
        .arrow_btn 
        h1 Next Work 
      

      
.socialmedia
  a.i.fa.fa-facebook-square(href="https://www.facebook.com/seekingcolors/" target="_blank")
  a.i.fa.fa-instagram(href="https://www.instagram.com/_10135444_/" target="_blank")
  //- a.i.fa.fa-youtube-play(href="https://www.youtube.com/watch?v=E0o-EPWl9DE" target="_blank")
  
.shownow Taipei Colorchips / Interactive Website
.homepage_btn I'm<br>Lynn





